cycler==0.11.0
exceptiongroup==1.1.1
fonttools==4.38.0
importlib-metadata==6.6.0
iniconfig==2.0.0
kiwisolver==1.4.4
matplotlib==3.5.3
numpy==1.21.6
packaging==23.1
Pillow==9.5.0
pluggy==1.0.0
pyparsing==3.0.9
pytest==7.3.1
python-dateutil==2.8.2
six==1.16.0
tomli==2.0.1
typing_extensions==4.6.1
zipp==3.15.0
